{% extends 'heritagesites/base.html' %} <!-- dont touch -->
{% load static %} <!-- the page looks the same with or without this line -->
{% block content %}
<h1>UNESCO Heritage Sites</h1>

<p> Hello World and All who Inhabit it! GAZE upon the beauty that is Pamukkale-Turkey!</p>
<!-- https://www.cntraveler.com/galleries/2014-12-23/most-beautiful-unesco-world-heritage-sites-galapagos-taj-mahal-yosemite -->
<img src='{% static "images/pamukkale-turkey.jpg" %}' alt="pamukkale-turkey">

{% endblock %}}